<div class="col-md-6 col-md-offset-3">
  <h2>Our Home</h2>
  <%= link_to 'Edit', edit_registration_path(@home) %>
  <h3>Primary Contact</h3>
  <p class="lead">
    <%= @home.primary_first_name %> <%= @home.primary_last_name %>
  </p>
  <p class="lead">
    <%= @home.street_address %>
  </p>
</div>



</p>

