/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select.min.css";
@import "stylish-portfolio";
@import "font-awesome/css/font-awesome.min.css";

.navbar-inverse { border-radius: 0 }
#top.header {
  .text-vertical-center {
    vertical-align: initial;
    padding-top: 30px;
  }
}

/* mobile first */
.container-fluid {
  header#top {
    height: 200px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-fluid {
    header#top {
      height: 500px;
    }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-fluid {
    header#top {
      height: 800px;
    }
  }
}
